{% assign trans = site.data.values[site.lan] %}
<style>
    .img-avatar {
        width: 50%
    }
</style>
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/avatar.jpeg" class="img-circle img-avatar" />
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
        <!--
        {{ site.description }}
        -->
        阳动而行，阴止而藏<br />
        阳动而出，阴隐而入<br />
    </div>
</div>

{% if site.data.tops.size > 0 %}
<div class="sidebar well">
    <h1>{{ trans.top_posts }}</h1>
    <ul>
        {% for top in site.data.tops %}
            {% for post in site.posts %}
                {% if post.url contains top.url %}
                    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    {% include links-list.html %}
</div>
